---
http_interactions:
- request:
    method: post
    uri: https://datamarket.accesscontrol.windows.net/v2/OAuth2-13
    body:
      encoding: UTF-8
      string: client_id=language-mixer-dev&client_secret=placeholder%20for%20recording&scope=http%3A%2F%2Fapi.microsofttranslator.com&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"http://schemas.xmlsoap.org/ws/2009/11/swt-token-profile-1.0","access_token":"http%3a%2f%2fschemas.xmlsoap.org%2fws%2f2005%2f05%2fidentity%2fclaims%2fnameidentifier=language-mixer-dev&http%3a%2f%2fschemas.microsoft.com%2faccesscontrolservice%2f2010%2f07%2fclaims%2fidentityprovider=https%3a%2f%2fdatamarket.accesscontrol.windows.net%2f&Audience=http%3a%2f%2fapi.microsofttranslator.com&ExpiresOn=1422239399&Issuer=https%3a%2f%2fdatamarket.accesscontrol.windows.net%2f&HMACSHA256=or61UaouTnxUSddoCIlCylzs1V6yfqolMq4KlGpa6Qw%3d","expires_in":"600","scope":"http://api.microsofttranslator.com"}'
  recorded_at: Mon, 26 Jan 2015 02:19:59 GMT
- request:
    method: get
    uri: http://api.microsofttranslator.com/V2/soap.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="SoapService"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://api.microsofttranslator.com/V2"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:import
        namespace="http://api.microsofttranslator.com/V2" location="http://api.microsofttranslator.com/V2/soap.svc?wsdl=wsdl0"/><wsdl:types/><wsdl:binding
        name="BasicHttpBinding_LanguageService" type="i0:LanguageService"><soap:binding
        transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="AddTranslation"><soap:operation
        soapAction="http://api.microsofttranslator.com/V2/LanguageService/AddTranslation"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="BreakSentences"><soap:operation
        soapAction="http://api.microsofttranslator.com/V2/LanguageService/BreakSentences"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="Detect"><soap:operation
        soapAction="http://api.microsofttranslator.com/V2/LanguageService/Detect"
        [...]
- request:
    method: post
    uri: http://api.microsofttranslator.com/V2/soap.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:v2="http://api.microsofttranslator.com/V2"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><v2:Translate><v2:text>Hello
        World</v2:text><v2:from>en</v2:from><v2:to>es</v2:to><v2:category>general</v2:category><v2:contentType>text/plain</v2:contentType></v2:Translate></env:Body></env:Envelope>
    headers:
      Authorization:
      - Bearer http%3a%2f%2fschemas.xmlsoap.org%2fws%2f2005%2f05%2fidentity%2fclaims%2fnameidentifier=language-mixer-dev&http%3a%2f%2fschemas.microsoft.com%2faccesscontrolservice%2f2010%2f07%2fclaims%2fidentityprovider=https%3a%2f%2fdatamarket.accesscontrol.windows.net%2f&Audience=http%3a%2f%2fapi.microsofttranslator.com&ExpiresOn=1422239399&Issuer=https%3a%2f%2fdatamarket.accesscontrol.windows.net%2f&HMACSHA256=or61UaouTnxUSddoCIlCylzs1V6yfqolMq4KlGpa6Qw%3d
      Soapaction:
      - '"http://api.microsofttranslator.com/V2/LanguageService/Translate"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Ms-Trans-Info:
      - 5641.V2_Soap.Translate.3A9B4466
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><TranslateResponse
        xmlns="http://api.microsofttranslator.com/V2"><TranslateResult>Hola mundo</TranslateResult></TranslateResponse></s:Body></s:Envelope>
  recorded_at: Mon, 26 Jan 2015 02:20:00 GMT
recorded_with: VCR 2.9.0
